[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django = "*"
djangorestframework = "*"
pytest = "*"
django-rest-framework-helpers = "*"

[packages]

[requires]
python_version = "3.7"
